.hidden {
  display: none;
  opacity: 0%;
}

.back-to-top:hover {
  opacity: 60%;
}
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}
.back-to-top {
  background-color: transparent;
}